
<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <div class="container-fluid">

    <!--back mark-->
    <p class="navbar-text pull-left glyph-margin">
      <a [routerLink]="['/project', {outlets: {'project': ['user', uid, 'list']}}]"
         class="navbar-link  navbar-chevron-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar
    <p class="navbar-header pull-left p-header">
      <a class="navbar-brand thick">
        <b></b>
      </a>
    </p>
-->
    <div class="navbar-brand p-header">
      <b>{{playlist.name}}</b>
    </div>

    <p class="navbar-text pull-right glyph-margin">
      <a (click)="uploadSong()"
         *ngIf="isSuperUser()"
         class="navbar-link padding-right-default">
        <span class="glyphicon glyphicon-cloud-upload"></span>
      </a>

      <a (click)="addSongs()" class="navbar-link padding-right-default">
        <span class="glyphicon glyphicon-plus"></span>
      </a>

      <a (click)="saveChanges()" class="navbar-link padding-right-default">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid content-body">

<ul class="list-group"
    *ngIf="playlist && songs"
    appSortable
    (newIndexes)="reorderList($event)">
    <li *ngFor="let song of songs; let i = index"
         class="list-group-item list-item-borderless p-list-item">

        {{song.index}}.&nbsp;
        <a [routerLink]="['/project', {outlets: {'project': ['user', uid, 'list', playlist._id, 'songs', i]}}]">
        {{song.title}}
        </a>

        <div class ="pull-right p-list-item-icons">
            <a [routerLink]="['/project', {outlets: {'project': ['user', uid, 'list', playlist._id, 'add', song.videoId]}}]">
            <span class="glyphicon glyphicon-search padding-right-default"></span>
            </a>

            <a (click)="delete(i)">
              <span class="glyphicon glyphicon-trash padding-right-default"></span>
            </a>

        </div>

    </li>
</ul>

</div>