
<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <div class="container-fluid">

      <!--back mark-->
      <p class="navbar-text pull-left glyph-margin">
        <a [routerLink]="['/project', {outlets: {'project': ['user', uid, 'admin']}}]"
           class="navbar-link  navbar-chevron-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </p>

      <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Admin: Create User</b>
      </a>
      </p>

  </div>
</nav>


<div class="container-fluid content-body">


  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
             [(ngModel)]="user.username"
             name="username"
             placeholder="username"
             class="form-control"
             (ngModelChange)="changes_saved=false"
             required/>
    </div>

    <div class="form-group">
      <label for="role">Role</label>

      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          {{role_data[user.role]}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="changeRole('user')">User</a></li>
          <li><a (click)="changeRole('superuser')">Super User</a></li>
          <li><a (click)="changeRole('admin')">Admin</a></li>
        </ul>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password"
             [(ngModel)]="user.password"
             name="password"
             class="form-control"
             placeholder="Password"
             (ngModelChange)="changes_saved=false"
             required/>
    </div>

    <div class="form-group">
      <label for="password">Verify Password</label>
      <input type="password"
             [(ngModel)]="verify_password"
             name="password"
             class="form-control"
             placeholder="Password"
             (ngModelChange)="changes_saved=false"
             required/>
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email"
             [(ngModel)]="user.email"
             name="email"
             placeholder="email"
             class="form-control"
             (ngModelChange)="changes_saved=false"
             required/>
    </div>

    <div class="form-group">
      <label for="first-name">First Name</label>
      <input type="text"
             [(ngModel)]="user.firstName"
             name="firstName"
             class="form-control"
             placeholder="First Name"
             (ngModelChange)="changes_saved=false"
             required/>
    </div>

    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input type="text"
             [(ngModel)]="user.lastName"
             name="lastName"
             class="form-control"
             placeholder="Last Name"
             (ngModelChange)="changes_saved=false"
             required/>
    </div>


  </form>


  <a class="btn btn-danger btn-block "
     (click)="createUser()">
     Create User</a>

</div>