<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <div class="container-fluid">

    <div class="row" *ngIf="uid">
        <!--back mark-->
        <p class="navbar-text pull-left glyph-margin">
          <a (click)="return()"
             class="navbar-link  navbar-chevron-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>

        <!--heading on the nav bar-->
        <p class="navbar-header pull-left">
          <a class="navbar-brand thick">
            <b>{{playlist.name}}</b>
          </a>
        </p>
    </div>

    <div class="row" *ngIf="!uid">


      <div class="col-xs-8">
        <!--back mark-->
        <p class="navbar-text pull-left glyph-margin">
          <a (click)="return()"
             class="navbar-link  navbar-chevron-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>

        <p class="navbar-header pull-left">
          <a class="navbar-brand thick">
            <b>Project Title Here</b>
          </a>
        </p>
      </div>

      <div class="col-xs-2" style="padding:15px">
        <a [routerLink]="['/project/login']"
           class="btn btn-default btn-block">Login</a>
      </div>

      <div class="col-xs-2" style="padding:15px">
        <a [routerLink]="['/project/register']"
           class="btn btn-danger btn-block">Register</a>
      </div>
    </div>

  </div>
</nav>

<div class="container-fluid content-body">

<ol *ngIf="playlist.songs.length>0">
     <li *ngFor="let song of playlist.songs; let i = index;">
           {{song.title}}

            <div class ="pull-right">
                <a (click)="viewDetails(i)">
                <span class="glyphicon glyphicon-info-sign"></span>
                </a>
            </div>
     </li>
</ol>

</div>

<!-- Footer -->
<nav *ngIf="!uid"
  class="navbar navbar-dark bg-primary navbar-fixed-bottom">
  <div class="container-fluid">

  </div>
</nav>