<!DOCTYPE html>
<html lang="en">
<head>
 <!-- Meta tags for making website for mobile-->
 <meta name="apple-mobile-web-app-capable" content="yes">
 <meta name="apple-mobile-web-app-status-bar-style" content="black">
 <meta name="viewport" content="initial-scale=1.25, user-scalable=no">

 <meta charset="UTF-8">
 <title>Index</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
 <!-- STYLE sheet comes after all the libraries are loaded. Document style-->
</head>
<body>
<h1>Assignment Home Page</h1>
<div class="container">
 <ul><a href="view/assignment/user/login">        login.html                </a></ul>
 <ul><a href="view/assignment/user/profile">      profile.html              </a></ul>
 <ul><a href="view/assignment/user/register">     register.html             </a></ul>
 <ul><a href="view/assignment/user/register">     register.html             </a></ul>
 <ul><a href="view/assignment/page/edit">         page-edit.html            </a></ul>
 <ul><a href="view/assignment/page/list">         page-list.html            </a></ul>
 <ul><a href="view/assignment/page/new">          page-new.html             </a></ul>
 <ul><a href="view/assignment/website/edit">      website-edit.html         </a></ul>
 <ul><a href="view/assignment/website/list">      website-list.html         </a></ul>
 <ul><a href="view/assignment/website/new">       website-new.html          </a></ul>
 <ul><a href="view/assignment/widget/choose">     widget-choose.html        </a></ul>
 <ul><a href="view/assignment/widget/heading">    widget-heading.html       </a></ul>
 <ul><a href="view/assignment/widget/image">      widget-image.html         </a></ul>
 <ul><a href="view/assignment/widget/list">       widget-list.html          </a></ul>
 <ul><a href="view/assignment/widget/youtube">    widget-youtube.html       </a></ul>

</div>
</body>
</html>