
<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <div class="profile-margin">
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Profile</b>
      </a>
    </p>
    </div>

    <!--tick mark-->
    <p class="navbar-text pull-right glyph-margin padding-right-default">
      <a (click)="saveChanges()" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid container-margin content-body">

  <div *ngIf="changes_saved" class="help-block">Changes Saved</div>
  <div *ngIf="error_message" class="alert alert-danger">{{error_message}}</div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
             [(ngModel)]="user.username"
             name="username"
             placeholder="username"
             class="form-control"
             (ngModelChange)="changes_saved=false"
             required/>
    </div>
    <div *ngIf="invalid_name" class="alert alert-danger">A user name is required</div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email"
             [(ngModel)]="user.email"
             name="email"
             placeholder="email"
             class="form-control"
             (ngModelChange)="changes_saved=false"
             required/>
    </div>

    <div class="form-group">
      <label for="first-name">First Name</label>
      <input type="text"
             [(ngModel)]="user.firstName"
             name="firstName"
             class="form-control"
             placeholder="First Name"
             (ngModelChange)="changes_saved=false"
             required/>
    </div>

    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input type="text"
             [(ngModel)]="user.lastName"
             name="lastName"
             class="form-control"
             placeholder="Last Name"
             (ngModelChange)="changes_saved=false"
             required/>
    </div>

  <div>
    <p><b>Following:</b></p>
    <ul class="list-group"
        *ngIf="following.length>0">
      <li class="list-group-item list-item-borderless padding-left-none padding-right-none"
          *ngFor="let followee of following">
        {{followee.username}}
        <div class ="pull-right">
          <a [routerLink]="['/project', {outlets: {'project': ['user', uid , 'profile', followee._id]}}]">
              <span class="glyphicon glyphicon-user"></span>
          </a>
        </div>
      </li>
    </ul>
    <div *ngIf="following.length===0">
      Not Following any users
    </div>
  </div>

  <br/>

  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', {outlets: {'project': ['user', uid , 'list']}}]">
     My Playlists</a>

  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', {outlets: {'project': ['user', uid , 'queue']}}]">
     My Song Queue</a>

  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', {outlets: {'project': ['user', uid , 'messages']}}]">
     My Notifications</a>

  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', {outlets: {'project': ['user', uid , 'list', 'search']}}]">
     Search Public Playlists</a>

  <a class="btn btn-danger btn-block "
     *ngIf="isAdmin()"
     [routerLink]="['/project', {outlets: {'project': ['user', uid , 'admin']}}]">
     Admin</a>

  <a class="btn btn-danger btn-block "
     (click)="logout()">Logout</a>

</div>

