
<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Profile</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right glyph-margin">
      <a (click)="saveChanges()" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid container-margin content-body">

  <div *ngIf="changes_saved" class="help-block">Changes Saved</div>

  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
             [(ngModel)]="user.username"
             name="username"
             placeholder="username"
             class="form-control"
             (ngModelChange)="changes_saved=false"
             required/>
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email"
             [(ngModel)]="user.email"
             name="email"
             placeholder="email"
             class="form-control"
             (ngModelChange)="changes_saved=false"
             required/>
    </div>

    <div class="form-group">
      <label for="first-name">First Name</label>
      <input type="text"
             [(ngModel)]="user.firstName"
             name="firstName"
             class="form-control"
             placeholder="First Name"
             (ngModelChange)="changes_saved=false"
             required/>
    </div>

    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input type="text"
             [(ngModel)]="user.lastName"
             name="lastName"
             class="form-control"
             placeholder="Last Name"
             (ngModelChange)="changes_saved=false"
             required/>
    </div>
  </form>

  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', {outlets: {'project': ['user', uid , 'list']}}]">
     My Playlists</a>

  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', {outlets: {'project': ['user', uid , 'queue']}}]">
     My Song Queue</a>

  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', {outlets: {'project': ['user', uid , 'messages']}}]">
     My Notifications</a>

  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', {outlets: {'project': ['user', uid , 'list', 'search']}}]">
     Search Public Playlists</a>

  <a class="btn btn-danger btn-block "
     (click)="logout()">Logout</a>

</div>

