

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--back mark-->
    <p class="navbar-text pull-left  glyph-margin">
      <a [routerLink]="['/user/'+uid+'/website/' + wid + '/page/' + pid + '/widget']"
         class="navbar-link navbar-chevron-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Edit Widget</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right glyph-margin">
      <a (click)="saveChanges()"
         class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid container-margin content-body">


<label for="widget.text">Text</label>
<input [(ngModel)]="widget.text" class="form-control"/>

<label for="widget.rows">Rows</label>
<input [(ngModel)]="widget.rows" class="form-control" type="number"/>

<label for="widget.name">Name</label>
<div>
  <input [(ngModel)]="widget.name"
         type="text"
         class="form-control"
         id="Name"
         name="name"
         placeholder="Name">
</div>

<label for="widget.placeholder">Placeholder</label>
<input [(ngModel)]="widget.placeholder" class="form-control" required/>

<p></p>
<div class="input-group">
  <input type="text"
         readonly
         value="Formatted"
         class="form-control"/>
  <span class="input-group-addon">
    <input [(ngModel)]="widget.formatted"
           type="checkbox"/>
   </span>
</div>
<p></p>
<a class="btn btn-danger btn-block"
         (click)="delete()">Delete</a>

</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
  <p class="navbar-text pull-right glyph-margin">
    <a [routerLink]="['/user/'+uid]"
       class="navbar-link">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </p>
  </div>
</nav>