
<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Playlists</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right glyph-margin">
      <a (click)="saveChanges()" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>

<ul class="list-group">
    <li *ngFor="let lst of playlists"
         class="list-group-item list-item-borderless">

        <a [routerLink]="['/project', {outlets: {'project': ['user', uid , 'list', lst._id, 'songs']}}]">{{lst.name}}</a>

        <a [routerLink]="['/project', {outlets: {'project': ['user', uid , 'list', lst._id, 'songs']}}]"
           class="pull-right">
          <span class="glyphicon glyphicon-cog"></span>
        </a>


    </li>
</ul>


<!--
<ol class="list-group">
            <li *ngFor="let sng of lst.songs"
                class="list-group-item list-item-borderless">
            {{sng.videoId}} -- {{sng.title}}
            </li>
        </ol>
-->
