
<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Profile</b>
      </a>
    </p>

    <!--tick mark-->
    <!--
    <p class="navbar-text pull-right glyph-margin">
      <a class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>
    -->

  </div>
</nav>


<div class="container-fluid container-margin content-body">

  <div *ngIf="changes_saved" class="help-block">Changes Saved</div>

      User Name: {{user_public.username}}<br>
      Name: {{user_public.firstName}} {{user_public.lastName}}<br>
      Email: {{user_public.email}}<br>

      <br>

      User Name: {{user.username}}<br>
      Name: {{user.firstName}} {{user.lastName}}<br>
      Email: {{user.email}}<br>

  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', {outlets: {'project': ['user', uid , 'profile', '123']}}]">
     test 123</a>
  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', {outlets: {'project': ['user', uid , 'profile', '234']}}]">
     test 234</a>
  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', {outlets: {'project': ['user', uid , 'profile', '345']}}]">
     test 456</a>
  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', {outlets: {'project': ['user', uid , 'profile', '456']}}]">
     test 567</a>


  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', {outlets: {'project': ['user', '123' , 'profile', '123']}}]">
     view as 123</a>
  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', {outlets: {'project': ['user', '234' , 'profile', '234']}}]">
     view as 234</a>
  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', {outlets: {'project': ['user', '345' , 'profile', '345']}}]">
     view as 345</a>
  <a class="btn btn-primary btn-block"
     [routerLink]="['/project', {outlets: {'project': ['user', '456' , 'profile', '456']}}]">
     view as 456</a>

</div>

