

<nav class="navbar navbar-dark bg-primary  navbar-fixed-top">
  <div class="container-fluid">

    <!--back mark-->
    <p class="navbar-text pull-left glyph-margin">
      <a [routerLink]="['/user/'+uid]"
         class="navbar-link  navbar-chevron-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Website List</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right glyph-margin">
      <a [routerLink]="['/user/'+uid+'/website/new']"
         class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid content-body">

  <div *ngIf="error_message" class="help-block">
        {{error_message}}
  </div>

  <div *ngIf="websites.length===0" class="help-block">
        No Websites to display
  </div>

  <ul class="list-group" *ngIf="websites.length>0">
    <li *ngFor="let website of websites"
        class="list-group-item list-item-borderless">

        <a [routerLink]="['/user/'+uid+'/website/'+website._id + '/page']">{{website.name}}</a>

        <a [routerLink]="['/user/'+uid+'/website/'+website._id]"
           class="pull-right">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
    </li>
  </ul>

</div>


<!-- Footer -->
<nav class="navbar navbar-dark bg-primary navbar-fixed-bottom">
  <div class="container-fluid">
  <p class="navbar-text pull-right glyph-margin">
    <a [routerLink]="['/user/'+uid]"
       class="navbar-link">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </p>
  </div>
</nav>
