
<nav class="navbar  navbar-default navbar-fixed-top" >
  <div class="container-fluid" >

    <!--back mark-->
    <p class="navbar-text pull-left glyph-margin">
      <a [routerLink]="['/user/'+uid+'/website/'+ wid + '/page']"
         class="navbar-link navbar-chevron-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Widgets</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right glyph-margin">
      <a [routerLink]="['/user/'+uid+'/website/'+ wid + '/page/' + pid + '/widget/new']"
         class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid content-body">

  <div *ngIf="error_message" class="help-block">
    {{error_message}}
  </div>

<ul class="list-group" *ngIf="widgets.length > 0"
    appSortable
    (newIndexes)="sortWidget($event)">

    <li *ngFor="let widget of widgets"
        class="list-group-item list-item-user-widget">
        <div class="user-widget">
            <div class="user-widget-toolbar">
                <a [routerLink]="['/user/'+uid+'/website/'+ wid + '/page/' + pid + '/widget/' + widget._id]"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </div>

            <!--
             heading
             label
             html
             text
             link
             button
             image
             youtube
             table
             repeater
             -->

            <div [ngSwitch]="widget.widgetType">
                <div *ngSwitchCase="'HEADING'">
                  <app-widget-list-header [widget]="widget"></app-widget-list-header>
                </div>
                <div *ngSwitchCase="'YOUTUBE'">
                  <app-widget-list-youtube [widget]="widget"></app-widget-list-youtube>
                </div>
                <div *ngSwitchCase="'IMAGE'">
                  <app-widget-list-image [widget]="widget"></app-widget-list-image>
                </div>
                <div *ngSwitchCase="'HTML'">
                  <app-widget-list-html [widget]="widget"></app-widget-list-html>
                </div>
                <div *ngSwitchCase="'TEXT'">
                  <app-widget-list-text [widget]="widget"></app-widget-list-text>
                </div>
            </div>

      </div>
    </li>


</ul>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
  <p class="navbar-text pull-left glyph-margin">
    <a [routerLink]="['/user/'+uid]"
       class="navbar-link">
      <span class="glyphicon glyphicon-play"></span>
    </a>

  </p>
  <p class="navbar-text pull-left glyph-margin">
    <a [routerLink]="['/user/'+uid]"
       class="navbar-link">
      <span class="glyphicon glyphicon-eye-open"></span>
    </a>

  </p>

  <p class="navbar-text pull-right glyph-margin">
    <a [routerLink]="['/user/'+uid]"
       class="navbar-link">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </p>
  </div>
</nav>