
<nav class="navbar  navbar-default navbar-fixed-top" >
  <div class="container-fluid" >

    <!--back mark-->
    <p class="navbar-text pull-left glyph-margin">
      <a href="../page/page-list.html" class="navbar-link navbar-chevron-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Widgets</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right glyph-margin">
      <a href="widget-choose.html" class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>

<div *ngFor="let widget of widgets">

 <div [ngSwitch]="widget.type">

     <div *ngSwitchCase="'Header'">
     </div>

     <div *ngSwitchCase="'YouTube'">
     </div>

     <div *ngSwitchCase="'Image'">
     </div>

     <!--
     heading
     label
     html
     text
     link
     button
     image
     youtube
     table
     repeater
     -->

 </div>

</div>


<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
  <p class="navbar-text pull-left glyph-margin">
    <a href="../user/profile.html" class="navbar-link">
      <span class="glyphicon glyphicon-play"></span>
    </a>

  </p>
  <p class="navbar-text pull-left glyph-margin">
    <a href="../user/profile.html" class="navbar-link">
      <span class="glyphicon glyphicon-eye-open"></span>
    </a>

  </p>

  <p class="navbar-text pull-right glyph-margin">
    <a href="../user/profile.html" class="navbar-link">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </p>
  </div>
</nav>