<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">

  <meta charset="UTF-8">
  <title>Home</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<div class="container-fluid">

  <h1>
    CS6510 Mean Stack Development
  </h1>

    <p>
        This page contains links to the project and assignments for CS5610.
    </p>

  <h4>
    <ul class="list-group">
        <li class="list-group-item list-item-borderless">
            <a [routerLink]="['/project']">Project</a><br>
            <p>Main login page for project</p>
        </li>
        <li class="list-group-item list-item-borderless">
            <a [routerLink]="['/project/test']">Test Project API</a><br>
            <p>API Proof of Concept</p>
        </li>

        <li class="list-group-item list-item-borderless">
            <a [routerLink]="['/login']">Assignment</a><br>
            <p>Main login for Assignment</p>
        </li>
        <li class="list-group-item list-item-borderless">
            <a [routerLink]="['/test']">Test MongoDB</a>
        </li>
        <li class="list-group-item list-item-borderless">
            <a href="https://github.com/nsetzer/webdev-setzer-nick">GitHub Repository</a>
        </li>
    </ul>

  </h4>

</div>

