
/*
.navbar {
    color: #FFFFFF;
    background-color: #5555CC;
}
*/

.navbar {
  opacity:.4;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-link,
.navbar-text {
  color: white;
}

.navbar-chevron-link {
  margin-right: 15px;
}

/*rule to center a div*/
.centered-content {
    width: 600px;
    margin: auto;
    text-align: justify;
}

.navbar-default,
.navbar-dark {
  height: 60px;
}

body,
.content-body {
   /*navbar height (60) + padding*/
    padding-top: 65px;
    padding-bottom: 60px;
}

input{
  margin-bottom: 8px;
}

.user-widget {
    position: relative;
    z-index: 1;
}

li.list-item-user-widget {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  margin: 0px;
}
.user-widget .user-widget-toolbar {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgba(192, 192, 192, 0.4) ;
    padding: 3px;
    border-bottom-left-radius: 8px;
    z-index: 3;
}

/**
 * user-widget-proportional allows for proportional images and iframes
 * to be rendered centered on the page.
 */
div.user-widget-proportional {
  position: relative;
  width: 100%;
  height: 0px;
  padding-bottom: 60%;

   z-index: 2;
}

iframe.user-widget-proportional {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;

   z-index: 2;
}

li.list-item-borderless {
  border: none;
  margin: 0px;
}

ul.list-group {
  margin: 0px;
  padding: 0px;
}

.border-line-right {
  border-right: thin gray solid;
  height: 100%;
}


.padding-rhs {
  padding-right:10px;
}

.padding-none {
  padding-right:0px;
  padding-left:0px;
}

.padding-left-none {
  padding-left:0px;
}

.padding-right-none {
  padding-right:0px;
}


.padding-left-default {
  padding-left:15px;
}

.padding-right-default {
  padding-right:15px;
}

.padding-right-double {
  padding-right:30px;
  padding-left:0px;
}

.padding-default {
  padding-left:15px;
  padding-right:15px;
}

.padding-content {
  padding-left:15px;
  padding-right:30px;
}

/*
sed -i s="class\=\"navbar-text pull-left\""="class\=\"navbar-text pull-left glyph-margin\""=g
sed -i s="class\=\"navbar-text pull-right\""="class\=\"navbar-text pull-right glyph-margin\""=g
*/
p.glyph-margin {
  margin-left:15px;
  margin-right:15px;
}

p.glyph-padding-short {
  padding-right:10px;
}

div.container-margin {
  margin-left:15px;
  margin-right:15px;
}

input {
  margin-bottom: 5px;
}