
<div class="container">

    <h1>Login</h1>

    <input type="text"
           name="username"
           placeholder="username"
           class="form-control"
           ngModel
           required
           #username="ngModel"/>

    <input type="password"
           name="password"
           placeholder="password"
           class="form-control"
           ngModel
           required
           #username="ngModel"/>

    <a class="btn btn-primary btn-block"
       [routerLink]="['/user/0']">Login</a>
    <a class="btn btn-success btn-block"
       [routerLink]="['/register']">Register</a>


</div>