
<div class="container">

    <h1>Login</h1>

    <div *ngIf="error_message" class="help-block">
        {{error_message}}
    </div>

    <form name="form" (ngSubmit)="login()" #f="ngForm">
      <input type="text"
             [(ngModel)]="username"
             name="username"
             placeholder="username"
             class="form-control"
             required
             autofocus/>
      <div *ngIf="invalid_username" class="help-block">
        Username not Found
      </div>

      <input type="password"
             [(ngModel)]="password"
             name="password"
             placeholder="password"
             class="form-control"
             required
             />
      <div *ngIf="invalid_password" class="help-block">
        Invalid Username or Password
      </div>

      <button type="submit" [disabled]="!f.valid"
              class="btn btn-primary btn-block">Login</button>

    </form>

    <a class="btn btn-success btn-block"
       [routerLink]="['/register']">Register</a>


</div>