
<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <div class="container-fluid">

    <div class="row" *ngIf="uid">
      <!--back mark-->
      <p class="navbar-text pull-left glyph-margin padding-left-default">
        <a [routerLink]="['/project', {outlets: {'project': ['user', uid]}}]"
           class="navbar-link  navbar-chevron-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </p>

      <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Search Playlists</b>
      </a>
      </p>
    </div>

    <div class="row" *ngIf="!uid">
      <div class="col-sm-8 col-xs-6">
        <p class="navbar-header pull-left">
          <a class="navbar-brand thick">
            <b>Project Title Here</b>
          </a>
        </p>
      </div>

      <div class="col-sm-2 col-xs-3 padding-all">
        <a [routerLink]="['/project/login']"
           class="btn btn-default btn-block"
           style="font-size: 85%;">Login</a>
      </div>

      <div class="col-sm-2 col-xs-3 padding-all">
        <a [routerLink]="['/project/register']"
           class="btn btn-danger btn-block"
           style="font-size: 85%;">Register</a>
      </div>
    </div>

  </div>
</nav>

<div class="container-fluid container-margin content-body">

<!--
  <div *ngIf="alertMessage"
       class="alert alert-danger">
    "Failed to create"
  </div>

  <div *ngIf="successMessage"
       class="alert alert-success">
    "Succesfully executed query"
  </div>
-->

<ul class="nav nav-tabs" *ngIf="!uid">
  <li class="active">
  <a disabled="true"><b>Search for Playlists</b></a>
  </li>
  <li>
  <a [routerLink]="['/project/search/s']">Search for Songs</a>
  </li>
</ul>

<div class="input-group">
 <input [(ngModel)]="searchTerm" type="text" class="form-control"
        placeholder="Enter Search Term">
 <span class="input-group-btn">
         <a (click)="runSearch()" class="btn btn-default" type="button">
             <span class="glyphicon glyphicon-search"></span>
         </a>
 </span>
</div>



<ul *ngIf="searchResults.length>0"
    class="list-group">
  <li *ngFor="let result of searchResults"
      class="list-group-item list-item-borderless padding-left-none">
       <a class="p-list-item" (click)="viewPlaylist(result)">
       {{result.name}}
       </a>

        <div class="p-list-item-icons">
            <a *ngIf="isAdmin()"
               (click)="delete(result)">
              <span class="glyphicon glyphicon-trash"></span>
            </a>

            <a (click)="openProfile(result)">
            <span class="glyphicon glyphicon-user padding-left-default"></span>
            </a>

            <a *ngIf="uid"
                (click)="copyPlaylist(result)">
            <span class="glyphicon glyphicon-copy padding-left-default"></span>
            </a>
         </div>
  </li>
</ul>

<div *ngIf="searchWasRun && !searchResults.length">
No results to display
</div>

</div>



<!-- Footer -->
<nav *ngIf="!uid"
  class="navbar navbar-dark bg-primary navbar-fixed-bottom">
  <div class="container-fluid">
  </div>
</nav>
