
<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <div class="container-fluid">

    <!--back mark-->
    <p class="navbar-text pull-left glyph-margin">
      <a [routerLink]="['/project', {outlets: {'project': ['user', uid, 'list', plid, 'songs']}}]"
         class="navbar-link  navbar-chevron-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <!--
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Add Songs</b>
      </a>
    </p>
    -->

  </div>
</nav>

<div class="container-fluid content-body">

<!--

  <div *ngIf="alertMessage"
       class="alert alert-danger">
    "Failed to create"
  </div>

  <div *ngIf="successMessage"
       class="alert alert-success">
    "Succesfully executed query"
  </div>
-->

<div class="input-group">
 <input [(ngModel)]="searchTerm" type="text" class="form-control"
        placeholder="Enter Search Term">
 <span class="input-group-btn">
         <a (click)="runSearch()" class="btn btn-default" type="button">
             <span class="glyphicon glyphicon-search"></span>
         </a>
 </span>
</div>

<div *ngIf="searchResults.length>0">
 <div *ngFor="let result of searchResults">
       {{result.name}}

        <div class ="pull-right">
            <a (click)="copyPlaylist(result)">
            <span class="glyphicon glyphicon-copy"></span>
            </a>
        </div>
 </div>

</div>

<div *ngIf="searchResults.length===0">
No results to display
</div>



</div>
