
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--back mark-->
    <p class="navbar-text pull-left  glyph-margin">
      <a [routerLink]="['/user/'+uid+'/website/' + wid + '/page/' + pid + '/widget']"
         class="navbar-link navbar-chevron-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Edit Widget</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right glyph-margin">
      <a (click)="saveChanges()"
         class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid container-margin content-body">

  <div *ngIf="error_message" class="help-block">
        {{error_message}}
  </div>

  <form>
    <div class="form-group">
      <label for="widgetName">Name</label>
      <input type="text"
             [(ngModel)]="widget.name"
             name="widgetName"
             placeholder="Widget Name"
             class="form-control"
             required/>
    </div>
    <div *ngIf="invalid_name" class="alert alert-danger">A widget name is required</div>


    <div class="form-group">
      <label for="titleText">Title Text</label>
      <input type="text"
             [(ngModel)]="widget.text"
             name="widgetText"
             placeholder="Title Text"
             class="form-control"
             required/>
    </div>

    <div class="form-group">
      <label for="widgetSize">Size</label>
      <input type="number"
             [(ngModel)]="widget.size"
             name="widgetSize"
             placeholder="Heading Size"
             class="form-control"
             required/>
    </div>
  </form>

  <a class="btn btn-danger btn-block"
         (click)="delete()">Delete</a>

</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
  <p class="navbar-text pull-right glyph-margin">
    <a [routerLink]="['/user/'+uid]"
       class="navbar-link">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </p>
  </div>
</nav>