<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <div class="container-fluid">

    <div class="row" *ngIf="uid">
        <!--back mark-->
        <p class="navbar-text pull-left glyph-margin padding-left-default">
          <a (click)="return()"
             class="navbar-link  navbar-chevron-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>

        <!--heading on the nav bar-->
        <p class="navbar-header pull-left">
          <a class="navbar-brand thick">
            <b>Playlist Info</b>
          </a>
        </p>
    </div>

    <div class="row" *ngIf="!uid">


      <div class="col-xs-8">
        <!--back mark-->
        <p class="navbar-text pull-left glyph-margin">
          <a (click)="return()"
             class="navbar-link  navbar-chevron-link">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>

        <p class="navbar-header pull-left">
          <a class="navbar-brand thick">
            <b>Song Details</b>
          </a>
        </p>
      </div>

      <div class="col-xs-2 padding-all">
        <a [routerLink]="['/project/login']"
           class="btn btn-default btn-block">Login</a>
      </div>

      <div class="col-xs-2 padding-all">
        <a [routerLink]="['/project/register']"
           class="btn btn-danger btn-block">Register</a>
      </div>
    </div>

  </div>
</nav>

<div class="container-fluid container-margin content-body">

<div *ngIf="song">

  <b>Title:</b> {{song.title}}
    <br/>
    <br/>
    <b>Description:</b><br/>

    <div class="p-detail-outer">
      <div class="p-detail-inner">
        {{song.description}}
      </div>
    </div>
    <br/>
    <br/>

  <div *ngIf="song_video_url"
         class="video-container-outer"
         [style.width]="song_video_width">
      <div class="video-container-inner">
          <iframe class="video-container"
                  [src]="makeSafe(song_video_url)"
                  frameborder="0" allowfullscreen>
          </iframe>
      </div>
    </div>
</div>

<!--
<div >
  <p>Playlists from other users that contain this song:</p>
  <ul *ngIf="playlists.length>0" class="list-group">
    <li *ngFor="let playlist of playlists" class="list-group-item">
      <b>{{playlist.uid.username}}</b><br/>
      <div class="p-list-item">
      {{playlist.name}}
      </div>
    </li>
  </ul>
</div>
-->

</div>

<!-- Footer -->
<nav *ngIf="!uid"
  class="navbar navbar-dark bg-primary navbar-fixed-bottom">
  <div class="container-fluid">

  </div>
</nav>