
<div class="container-fluid container-margin">
  <h1>Register</h1>

  <form name="form" (ngSubmit)="register()" #f="ngForm">

    <input type="text"
           [(ngModel)]="firstName"
           name="firstName"
           placeholder="First Name"
           class="form-control"
           required/>

    <input type="text"
           [(ngModel)]="lastName"
           name="lastName"
           placeholder="Last Name"
           class="form-control"
           required/>

    <input type="text"
           [(ngModel)]="username"
           name="username"
           placeholder="username"
           class="form-control"
           required
           autocomplete="on"
           autocorrect="off"
           autocapitalize="off"
           spellcheck="false"/>

    <div *ngIf="invalid_username" class="alert alert-danger">Username Already Exists</div>

    <input type="email"
           [(ngModel)]="email"
           name="email"
           placeholder="email"
           class="form-control"
           required/>

    <input type="password"
           [(ngModel)]="password"
           name="password"
           placeholder="password"
           class="form-control"
           required
           autocomplete="on"
           autocorrect="off"
           autocapitalize="off"
           spellcheck="false"/>

    <input type="password"
           [(ngModel)]="password_check"
           name="password_check"
           placeholder="retype password"
           class="form-control"
           required
           autocomplete="on"
           autocorrect="off"
           autocapitalize="off"
           spellcheck="false"/>

    <div *ngIf="invalid_password" class="alert alert-danger">Passwords do not match</div>

  <button type="submit" [disabled]="!f.valid"
          class="btn btn-primary btn-block">Register</button>
  </form>

  <a class="btn btn-danger btn-block"
     [routerLink]="['/login']">Cancel</a>

</div>