
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--back mark-->
    <p class="navbar-text pull-left  glyph-margin">
      <a [routerLink]="['/user/'+uid+'/website/' + wid + '/page/' + pid + '/widget/' + wgid]"
         class="navbar-link navbar-chevron-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Search Flickr</b>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid container-margin content-body">

<div class="input-group">
 <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Enter Search Term">
 <span class="input-group-btn">
         <a (click)="searchPhotos()" class="btn btn-default" type="button">
             <span class="glyphicon glyphicon-search"></span>
         </a>
 </span>
</div>

<div class="row">
 <div *ngFor = "let photo of photos"
      class="col-xs-4">
   <img    (click)="selectPhoto(photo)"
           width="100%"
           [src] = "photo.url"/>

   <p></p>
 </div>
</div>


</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
  <p class="navbar-text pull-right glyph-margin">
    <a [routerLink]="['/user/'+uid]"
       class="navbar-link">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </p>
  </div>
</nav>