
<div>
    <router-outlet name="project"></router-outlet>
</div>

<!-- Footer -->
<nav class="navbar navbar-dark bg-primary navbar-fixed-bottom">
  <div class="container-fluid">

  <p class="navbar-text pull-left glyph-margin">
    <audio
       name="audioPlayer"
       #audioPlayer>
      <!--<source src="http://localhost:3100/api/youtube/2oPeZFOpPAM" type="audio/mp3">-->
      <source src="http://localhost:3100/public/uploads/top.wav" type="audio/mp3">
    </audio>
  </p>


  <p class="navbar-text pull-right glyph-margin">
    <a class="navbar-link">
      <span class="glyphicon glyphicon-th-list"></span>
    </a>

    <a (click)="playPauseClicked()"
       class="navbar-link">

      <span class="glyphicon glyphicon-play" *ngIf="!audioPlayer.error && audioPlayer.paused"></span>
      <span class="glyphicon glyphicon-pause" *ngIf="!audioPlayer.error && !audioPlayer.paused"></span>
      <span class="glyphicon glyphicon-stop" *ngIf="audioPlayer.error"></span>
    </a>

    <a (click)="loadNextSong()"
       class="navbar-link">
      <span class="glyphicon glyphicon-forward"></span>
    </a>

    <a (click)="openProfileHome()"
       class="navbar-link">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </p>
  </div>
</nav>
