
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--back mark-->
    <p class="navbar-text pull-left  glyph-margin">
      <a [routerLink]="['/user/'+uid+'/website/' + wid + '/page/' + pid + '/widget']"
         class="navbar-link navbar-chevron-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Edit Widget</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right glyph-margin">
      <a (click)="saveChanges()"
         class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid container-margin content-body">

  <form>
    <div class="form-group">
      <label for="widgetName">Name</label>
      <input type="text"
             [(ngModel)]="widget.name"
             name="widgetName"
             placeholder="Widget Name"
             class="form-control"
             required/>
    </div>

    <div class="form-group">
      <label for="widgetUrl">URL</label>
      <input type="text"
             [(ngModel)]="widget.url"
             name="widgetUrl"
             placeholder="url"
             class="form-control"
             required/>
    </div>
    <div *ngIf="invalid_link" class="help-block">You must supply an image link</div>


    <div class="form-group">
      <label for="widgetWidth">Width</label>
      <!-- 100px and 100% are valid-->
      <input type="text"
             [(ngModel)]="widget.width"
             name="widgetWidth"
             placeholder="Width (percentage)"
             class="form-control"
             required/>
    <div *ngIf="invalid_width" class="help-block">Width must be in the form of "100px" or "100%"</div>

    </div>
  </form>

  <form name="myForm" #myForm
        method="post" enctype="multipart/form-data">
     <input  name="myFile" #myFile type="file"     class="form-control"/>
     <button type="button" (click)="uploadImage()"
             class="btn btn-block btn-primary">Upload Image</button>
     <span class="small text-danger ml-2"
            *ngIf="invalid_file">Please Select a File to Upload</span>
  </form>

  <a class="btn btn-danger btn-block"
         (click)="delete()">Delete</a>

</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
  <p class="navbar-text pull-right glyph-margin">
    <a [routerLink]="['/user/'+uid]"
       class="navbar-link">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </p>
  </div>
</nav>