
<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <div class="container-fluid">

    <div class="row" *ngIf="uid">
      <!--back mark-->
      <p class="navbar-text pull-left glyph-margin padding-left-default">
        <a [routerLink]="['/project', {outlets: {'project': ['user', uid, 'list', plid, 'songs']}}]"
           class="navbar-link  navbar-chevron-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </p>

      <!--heading on the nav bar-->
      <p class="navbar-header pull-left">
        <a class="navbar-brand thick">
          <b>Add Songs</b>
        </a>
      </p>
    </div>

    <div class="row" *ngIf="!uid">
      <div class="col-sm-8 col-xs-6">
        <p class="navbar-header pull-left">
          <a class="navbar-brand thick">
            <b>Search Songs</b>
          </a>
        </p>
      </div>

      <div class="col-sm-2 col-xs-3 padding-all">
        <a [routerLink]="['/project/login']"
           class="btn btn-default btn-block"
           style="font-size: 85%;">Login</a>
      </div>

      <div class="col-sm-2 col-xs-3 padding-all">
        <a [routerLink]="['/project/register']"
           class="btn btn-danger btn-block"
           style="font-size: 85%;">Register</a>
      </div>
    </div>

  </div>
</nav>

<div class="container-fluid container-margin content-body">

<ul class="nav nav-tabs" *ngIf="!uid">
  <li>
  <a [routerLink]="['/project/search/pl']">Search for Playlists</a>
  </li>
  <li class="active">
  <a disabled="true"><b>Search for Songs</b></a>
  </li>
</ul>

<!--
  <div *ngIf="alertMessage"
       class="alert alert-danger">
    "Failed to create"
  </div>

  <div *ngIf="successMessage"
       class="alert alert-success">
    "Succesfully executed query"
  </div>
-->

<div class="input-group">
 <input [(ngModel)]="searchTerm" type="text" class="form-control"
        placeholder="Enter Search Term">
 <span class="input-group-btn">
         <a (click)="runSearch()" class="btn btn-default" type="button">
             <span class="glyphicon glyphicon-search"></span>
         </a>
 </span>
</div>

<ul *ngIf="searchResults.length>0"
    class="list-group">
  <li *ngFor="let result of searchResults"
      class="list-group-item list-item-borderless padding-left-none">
       <a class="search-result p-list-item" (click)="viewDetails(result.index)">
       {{result.title}}
       </a>

       <audio name="audioPlayer" #audioPlayer>
          <source type="audio/mp3">
       </audio>

        <span class="p-list-item-icons">
            <!-- TODO: after POC hide this behind user role -->
            <a (click)="playPauseIndex(result.index)">
            <span class="glyphicon glyphicon-play"  *ngIf="result.state==='wait'"></span>
            <span class="glyphicon glyphicon-play"  *ngIf="result.state==='paused'"></span>
            <span class="glyphicon glyphicon-pause" *ngIf="result.state==='playing'"></span>
            <span class="glyphicon glyphicon-stop"  *ngIf="result.state==='error'"></span>
            </a>

            <a *ngIf="uid"
               (click)="addIndexToPlaylist(result.index)">
            <span class="glyphicon glyphicon-plus padding-left-default"></span>
            </a>

            <a (click)="findRelatedSongs(result.index)">
            <span class="glyphicon glyphicon-search padding-left-default"></span>
            </a>
        </span>
  </li>
</ul>

<div *ngIf="searchWasRun && !searchResults.length">
No results to display
</div>

</div>

<!-- Footer -->
<nav *ngIf="!uid"
  class="navbar navbar-dark bg-primary navbar-fixed-bottom">
  <div class="container-fluid">
  </div>
</nav>
